spring:
  application:
    name: MessageService

  mail:
    host: localhost
    port: 1025
    username: test
    password: test
    properties:
      mail.smtp.auth: false
      mail.smtp.starttls.enable: false

  cloud:
    stream:
      function:
        definition: messageCreatedEvents

      bindings:
        messageCreatedEvents-in-0:
          destination: messageCreatedEvents
          group: message-service-group
          content-type: application/json

      kafka:
        binder:
          brokers: localhost:9092

eureka:
  instance:
    prefer-ip-address: true
    hostname: localhost
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
      register-with-eureka: true
      fetch-registry: true

server:
  port: 8084
