spring:
  application:
    name: order-service
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:mem:test
    username: sa
    password: password
    driverClassName: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
  cloud:
    stream:
      kafka:
        binder:
          brokers: localhost:9092
      bindings:
        productPriceUpdates-in-0:
          destination: productPriceUpdates
          group: cart-service-group
          consumer:
            max-attempts: 3
        orderCreatedEvents-out-0:
          destination: orderCreatedEvents
          group: product-service-group

server:
  port: 8083

eureka:
  instance:
    prefer-ip-address: true
    hostname: localhost
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
